.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 2rem;
}

.main h1 {
  margin-bottom: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.songForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checkboxGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}

.checkboxItem {
  display: flex;
  align-items: center;
}

.textarea {
  width: 100%;
  height: 100px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.canvasContainer {
  flex-grow: 1;
}

.button {
  margin: 0.5rem;
}